@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.5);
    /* Blue shadow for charging */
  }

  70% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
    /* Expands and fades */
  }

  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
    /* Resets the shadow */
  }
}

.pulse {
  animation: pulse 2s infinite;
  transition: background-color 0.3s ease-in-out;
}

.bg-charging {
  background: linear-gradient(to bottom, #114398, #0f2b7f);
}
